body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header{
    background-image:url('1.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height:600px;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.discription{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.discription h1{
    color: #6ab446;
}
.discription p{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
.discription button{
    border: 1px solid #6ab446;
    background: #6ab446;
    border-radius: 0;
    color: #fff;
}

.discription button:hover{
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}
.features{
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title{
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img{
    height: 250px;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.features .form-control,.features input{
    border-radius: 0;


}
.features .btn{
    background: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover{
    background: #333;
    border: 1px solid #333;
}
.background{
    background: #dedec8;
    padding: 4em 0;
}
.team{
    color: #5e5e55;
    padding: 0 180px;
}
 /* .team .card-colums{
    column-count: 4;
}  */
.team .card{
    background: none;
    border: none;
}
.team .card-title{
    font-size: 1.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
@media (max-width: 575.98px) {
    .discription{
        position: absolute;
        top:10%;
        left:0;
        text-align: center;
        transform: none;
        padding: 0 15px;

    }
    .discription h1{
        font-size: 2em;
    }
    .discription p{
        font-size: 1.2rem;
    }
    .features{
        margin: 0;
    }
}
